  
/* Css Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Fredoka One", cursive;
  list-style: none;
  text-decoration: none;
}
:root {
  --pink: #ed1250;
  --pale-yellow: #fff6da;
  --dark-blue: #042f4b;
  --orange: #fbc99d;
  --fredoka: "Fredoka One", cursive;
  --poppins: "Poppins", sans-serif;
  --sansita: "Sansita Swashed", cursive;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: var(--pale-yellow);
  overflow-x: hidden;
}

.main-nav-links{
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
button.a{
  padding: 10px 20px;
  width: 100px;
  height: 60px;
  margin: 20px;
  margin-right: 20px; 
  font-size: 26px;
  font-weight: bold;
  font-family: cursive;
  background: #fa6e02;
  border: solid black;
  border-radius: 6px;
  cursor: pointer;
  justify-items: center;
}
h2 {
  font-family: var(--fredoka);
  color: var(--pink);
  font-size: calc(2rem + 1vw);
}

.logo-image {
  height: 12px;
  width: 46px;
}